## Aula 6 - Warmup de Elaboração de Gráficos

### Treinando Gráficos com o Seaborn

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt # Biblioteca para plotar gráficos
import seaborn as sns # Biblioteca para plotar gráficos baseada no matplotlib

#### Considere o dataset tips

In [6]:
sns.set() # Ajusta valor padrão de tema, escala e paleta de cor
# Considere dataset de gorgetas a seguir
tips = sns.load_dataset("tips") 
# A lista de todos os datasets do Seaborn está aqui https://github.com/mwaskom/seaborn-data
# Mostre as primeiras linhas do dataframe tips
tips.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

#### W6.1 Usando o seaborn crie um scatter plot com o dado da gorgeta (tip) no eixo y, o total da conta (total_bill) no eixo x e o dia da semana (day) representado em cores diferentes no gráfico. Para definir as cores use o parâmetro hue="day".

In [4]:
# Faça aqui

#### W6.2 Considerando o dataset de acidentes de carros (car crashes),  usando o seaborn crie um gráfico do tipo pairplot de todas as variaveis deste dataset. Avalie se esse dataset corrobora com o bom censo de que consumo de álcool contribui com o aumento do número de acidentes. 
#### Dica: A documentação desta base de dados se encontra em https://www.kaggle.com/fivethirtyeight/fivethirtyeight-bad-drivers-dataset. A coluna total corresponde a esta descrição na documentação: "Number of drivers involved in fatal collisions per billion miles". A coluna alcohol corresponde a esta descrição na documentação: "Percentage Of Drivers Involved In Fatal Collisions Who Were Alcohol-Impaired"

In [11]:
# Considere dataset de acidentes de carros a seguir
crashes = sns.load_dataset("car_crashes") 
# Mostre as primeiras linhas do dataframe tips
crashes.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

In [14]:
# Faça aqui

#### 6.3 Crie um gráfico de barras (uma barra para cada Estado americano no eixo x) e o tamanho vertical da barra deve corresponder ao valor da coluna ins_losses (insurance losses).
#### Dica: use o argumento aspect=3 para ter um grafico largo.

In [19]:
# Faça aqui